.current-day {
  .temp-wrapper {
    color: $brand-color;
    display: flex;
    align-items: center;
    @media(max-width: $screen-xs-max) {
      display: block;
    }
    @media(max-width: $screen-sm-max) {
      padding-top: calculateRem(20px);
    }
  }
  .day-temp {
    span {min-width: 80px;
      @media(min-width: $screen-lg-min) {
        min-width: 138px;
      }

      display: inline-block;
    }
  }

  .date {
    font-size: 2.7rem;

    @media(max-width: $screen-sm-max) {

      font-size: 1.7rem;
    }
  }
  .deacription {
    font-size: 2rem;
    margin: calculateRem(22px) 0;
    &:first-letter {
      text-transform: uppercase
    }
    @media(max-width: $screen-sm-max) {
      font-size: 1.5rem;
    }
  }
}
.current-temp {
  font-size: 9rem;
  font-weight: 500;
  margin-right: 80px;
  @media(max-width: $screen-md-max) {
    font-size: 6rem;
    margin-right: calculateRem(40px);
  }
  @media(max-width: $screen-sm-max) {

    margin-right: calculateRem(20px);
    font-size: 4rem;
  }

  @media(max-width: $screen-xs-max) {
    margin: 0 0 calculateRem(20px);
  }
}