.form-wrapper {
  width: 592px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  &,
  input[type="text"] {
    text-align: center;
  }
  .form-row {
    position: relative;
    &+.form-row{
      margin-top: calculateRem(40px);
    }
  }
  small{
    display: block;
    margin: 0 0 calculateRem(20px);
  }
  button[type="submit"] {
    position: absolute;
    right: 0;
    top: calculateRem(11px);
  }
  form{
    transition: opacity 0.3s ease-in-out ;
  }
  form.loading{
    opacity: 0;

  }
  &.show{
    visibility: hidden;
    display: none;
  }
}