$model: 'form';
.#{$model} {
  width: 592px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  transition: opacity 0.3s ease-in-out ;
  &,
  &__input {
    text-align: center;
  }
  &__row {
    position: relative;
    &+.#{$model}__row{
      margin-top: calculateRem(40px);
    }
  }
  &__info{
    display: block;
    margin: 0 0 calculateRem(20px);
  }
  .#{$model}__submit{
    position: absolute;
    right: 0;
    top: calculateRem(11px);
  }
  &--loading{
    opacity: 0;
  }
  &--hide{
    visibility: hidden;
    display: none;
  }
}