$model: 'week';
.#{$model} {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1rem;
  justify-content: space-around;

 &__el {
    width: 14.28%;
    padding:  calculateRem(58px) 0 0;
    min-width: 70px;
    @media(max-width: $screen-sm-max) {
      padding:  calculateRem(40px) 0 0;
    }
  }
  &__el__date{
    margin-bottom: 1rem;
  }
  &__el__icon{
    font-size: 3.2rem;
  }
  &__el__temp{
    margin-top: calculateRem(20px);
    text-align: center;
  }
}